/* main 模块 */
.main {
    width: 980px;
    height: 455px;
    margin-top: 10px;
    margin-left: 220px;
}
.focus {
    width: 721px;
}
.newsflash {
    width: 250px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news_hd {
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: 1px dotted #e4e4e4;
}
.news_hd h5 {
    font-size: 14px;
}
.news_hd .more::after {
    content: '\e920';
    font-family: 'icomoon';
}
.news_bd {
    padding: 5px 15px;
}
.news_bd ul li {
    height: 24px;
    line-height: 24px;
}
.lifeservice {
    height: 210px;
    border-left: 1px solid #e4e4e4;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 62.25px;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.bargain {
    margin-top: 5px;
}
