/* main 模块 */
.main {
    width: 980px;
    height: 455px;
    margin-top: 10px;
    margin-left: 220px;
}
.focus {
    width: 721px;
}
.newsflash {
    width: 250px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news_hd {
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: 1px dotted #e4e4e4;
}
.news_hd h5 {
    font-size: 14px;
}
.news_hd .more::after {
    content: '\e920';
    font-family: 'icomoon';
}
.news_bd {
    padding: 5px 15px;
}
.news_bd ul li {
    height: 24px;
    line-height: 24px;
    /* 让超出部分显示为省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice {
    position: relative;
    height: 210px;
    border-left: 1px solid #e4e4e4;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 62.25px;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
}
.lifeservice .i {
    background: url(../images/icons.png) no-repeat -16px -15px;
}
.lifeservice .ii {
    background: url(../images/icons.png) no-repeat -79px -18px;
}
.lifeservice .iii {
    background: url(../images/icons.png) no-repeat -141px -17px;
}
.lifeservice .iv {
    background: url(../images/icons.png) no-repeat -206px -15px;
}
.lifeservice .v {
    background: url(../images/icons.png) no-repeat -16px -85px;
}
.lifeservice .vi {
    background: url(../images/icons.png) no-repeat -78px -85px;
}
.lifeservice .vii {
    background: url(../images/icons.png) no-repeat -141px -85px;
}
.lifeservice .viii {
    background: url(../images/icons.png) no-repeat -206px -85px;
}
.lifeservice .ix {
    background: url(../images/icons.png) no-repeat -16px -155px;
}
.lifeservice .x {
    background: url(../images/icons.png) no-repeat -79px -155px;
}
.lifeservice .xi {
    background: url(../images/icons.png) no-repeat -141px -155px;
}
.lifeservice .xii {
    background: url(../images/icons.png) no-repeat -206px -155px;
}
/* 减标签 */
.tag {
    position: absolute;
    left: 110px;
    width: 0;
    height: 0;
    border-top: 14px solid #589d5a;
    border-left: 7px solid #589d5a;
    border-right: 7px solid #589d5a;
    border-bottom: 3px solid transparent;
}
.jian{
    position: absolute;
    left: 110px;
    top: -2px;
    color: #fff;
    font-size: 12px;
}
.bargain {
    margin-top: 5px;
}

/* 推荐模块 */
.recom {
    height: 165px;
    margin-top: 12px;
}
.recom_hd {
    height: 165px;
    width: 204px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}
.recom_bd {
    height: 165px;
    background-color: #ebebeb;
}
.recom_bd ul li {
    position: relative;
    float: left;
    width: 249px;
    padding: 18px 22px;
    color: #333;
    font-size: 16px;
}
/* 最后一个不需要竖线 */
.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
.recom_bd .discount_1{
    height: 20px;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}
.recom_bd .i {
    width: 86px;
    background-color: #00a0e8;
}
.recom_bd .ii {
    width: 86px;
    background-color: #5fb200;
}
.recom_bd .iii {
    width: 70px;
    background-color: #e2162f;
}
.recom_bd .iv {
    width: 65px;
    background-color: #0085fb;
}
.recom_bd .discount_2 {
    font-size: 12px;
}
.recom_bd .radius {
    height: 20px;
    width: 56px;
    margin-top: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
}
.recom_bd li a {
    position: absolute; 
    right: 20px;
    top: 25px;
    text-align: center;
}

/* 猜你喜欢模块 */
.guess {
    margin-top: 30px;
}
.title {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.guess ul {
    height: 232px;
    margin-top: 10px;
    border: 1px solid #ededed;
}
.guess li {
    height: 230px;
    position: relative;
    float: left;
    width: 199.6px;
    transition: box-shadow 0.5s;
}
.guess li:hover {
    box-shadow: 10px 10px 20px #ddd;
}
.guess li:nth-child(-n+5)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 160px;
    width: 1px;
    height: 62px;
    background-color: #ededed;
}
.guess_hd {
    width: 120px;
    height: 42px;
    margin: 0 35px;
    line-height: 21px;
    font-size: 12px;
    /* 超出部分不显示 */
    overflow: hidden;
}
.guess .price {
    margin: 0 35px;
    color: #df3033;
    font-size: 18px;
}
.guess .price i {
    font-size: 14px;
}

/* 有趣区模块 */
.interest {
    margin-top: 30px;
}
.interest_bd {
    height: 406px;
    margin-top: 10px;
    border: 1px solid #ededed;
}
.book {
    position: relative;
    height: 404px;
    width: 405px;
    padding: 23px;
    border-right: 1px solid #ededed;
    background-color: #b8bddd;
    color: #3b468d;
    font-size: 18px;
}
.book p {
    font-size: 16px;
}
.book img {
    position: absolute;
    right: 55px;
    bottom: 32px;
}
.goodthing {
    position: relative;
    height: 404px;
    width: 226px;
}
.brandstreet {
    height: 404px;
    width: 404px;
    background-color: #f7f7f7;
}
.interest_bd dt {
    height: 40px;
    border-right: 1px solid #ededed;
    border-bottom: 1px dashed #ededed;
    line-height: 40px;
    color: #333;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}
.interest_bd dd {
    position: relative;
    float: left;
    height: 182px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    padding: 60px 10px;
    transition: box-shadow 0.5s;
}
.interest_bd dd:hover {
    box-shadow: 5px 5px 10px #ddd;
}
.interest_bd dd div h5 {
    font-size: 16px;
    color: #333;
    margin-bottom: 11px;
}
.interest_bd dd div p {
    font-size: 12px;
    line-height: 20px;
}
.interest_bd dd .black {
    color: #333;
}
.interest_bd dd .red {
    color: #e60012;
}
.interest_bd dd img {
    position: absolute;
    right: 0;
    bottom: 0;
}
.goodthing dd {
    width: 226px;
}
.brandstreet dd {
    width: 202px;
}
.brandstreet #i {
    width: 404px;
    padding-left: 50px;
}
.brand {
    width: 162px;
    height: 406px;
}
.brand ul li {
    float: left;
    width: 81px;
    height: 58px;
    transition: box-shadow 0.5s;
}
.brand ul li:nth-child(odd) {
    border-right: 1px dashed #ededed;
}
.brand ul li:nth-child(-n+12) {
    border-bottom: 1px dashed #ededed;
}
.brand ul i {
    display: inline-block;
    width: 80px;
    height: 57px;
    background-image: url(../upload/brand.png);
    background-repeat: no-repeat;
}
.brand ul li:nth-child(even) i {
    background-position-x: -86px;
}
.brand #i, #ii {
    background-position-y: 0;
}
.brand #iii, #iv {
    background-position-y: -58px;
}
.brand #v, #vi {
    background-position-y: -116px;
}
.brand #vii, #viii {
    background-position-y: -174px;
}
.brand #ix, #x {
    background-position-y: -232px;
}
.brand #xi, #xii {
    background-position-y: -290px;
}
.brand #xiii, #xiv {
    background-position-y: -348px;
}