/* header 区域 */
header {
    height: 105px;
    border-bottom: 2px solid #c82000;
}

/* registerarea 区域 */
.registerarea {
    height: 520px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-weight: normal;
    font-size: 18px;
}
.login {
    float: right;
    font-size: 14px;
}
.login a {
    color: #c82000;
}
.reg_form {
    width: 600px;
    margin: 50px auto 0;
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.reg_form ul li #in {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.error {
    color: #c82000;
}
.error_icon,
.success_icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    background: url(../images/error.png) no-repeat;
}
.success {
    color: green;

}
.success_icon {
    background: url(../images/success.png) no-repeat;
}
.safe {
    padding-left: 160px;
}
.safe em {
    padding: 0 12px;
    color: #fff;
}
.weak {
    background-color: #c82000;
}
.mid {
    background-color: orange;
}
.strong {
    background-color: green;
}
.agree {
    padding-left: 90px;
}
.agree input {
    vertical-align: middle;
}
.agree a {
    color: deepskyblue;
}
.btn {
    width: 200px;
    height: 34px;
    margin: 30px 0 0 88px;
    background-color: #c82000;
    color: #fff;
    font-size: 14px;
}